{% extends "listado.html" %}

{% block encabezado %}
  <th>#</th>
  <th>Nombre</th>
  <th>Descripción</th>
  <th>Acciones</th>
{% endblock %}

{% block fila %}
  <td>{{ fila.id }}</td>
  <td>{{ fila.nombre }}</td>
  <td>{{ fila.descripcion }}</td>
  <td class="acciones">
    <ul class="acciones-lista">
      <li><a class="accion accion-icono" href="{% url 'cuentas:roles_editar' fila.pk %}" data-modal title="Editar" aria-label="Editar">{% include 'iconos/editar.html' %}</a></li>
      <li><a class="accion accion-icono peligro" href="{% url 'cuentas:roles_eliminar' fila.pk %}" data-eliminar title="Eliminar" aria-label="Eliminar">{% include 'iconos/eliminar.html' %}</a></li>
    </ul>
  </td>
{% endblock %}
