{% extends "listado.html" %}

{% block encabezado %}
  <th>#</th>
  <th>Nombre</th>
  <th>Delegación</th>
  <th>Descripción</th>
  <th>Acciones</th>
{% endblock %}

{% block fila %}
  <td>{{ fila.id }}</td>
  <td>{{ fila.nombre }}</td>
  <td>{{ fila.delegacion }}</td>
  <td>{{ fila.descripcion }}</td>
  <td class="acciones">
    <a class="accion" href="{% url 'catalogos:metas_editar' fila.pk %}">Editar</a>
    <a class="accion peligro" href="{% url 'catalogos:metas_eliminar' fila.pk %}">Eliminar</a>
  </td>
{% endblock %}
