{% extends "listado.html" %}

{% block encabezado %}
  <th>#</th>
  <th>Nombre</th>
  <th>Tipo de Atención</th>
  <th>Acciones</th>
{% endblock %}

{% block fila %}
  <td>{{ fila.id }}</td>
  <td>{{ fila.nombre }}</td>
  <td>{{ fila.tipo_atencion }}</td>
  <td class="acciones">
    <ul class="acciones-lista">
      <li><a class="accion" href="{% url 'catalogos:subatenciones_editar' fila.pk %}">Editar</a></li>
      <li><a class="accion peligro" href="{% url 'catalogos:subatenciones_eliminar' fila.pk %}">Eliminar</a></li>
    </ul>
  </td>
{% endblock %}
